<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>PruebaSession</servlet-name>
        <servlet-class>Servlets.PruebaSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>Servlets.AltaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPelicula</servlet-name>
        <servlet-class>Servlets.ModificarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaBorrar</servlet-name>
        <servlet-class>Servlets.PruebaBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPelicula</servlet-name>
        <servlet-class>Servlets.BorrarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaReproduccion</servlet-name>
        <servlet-class>Servlets.AltaReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaReproduccion</servlet-name>
        <servlet-class>Servlets.AltaReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuGestionPeliculas</servlet-name>
        <servlet-class>Servlets.MenuGestionPeliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaSala</servlet-name>
        <servlet-class>Servlets.AltaSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarSala</servlet-name>
        <servlet-class>Servlets.ModificarSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarSala</servlet-name>
        <servlet-class>Servlets.BorrarSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarReproduccion</servlet-name>
        <servlet-class>Servlets.ModificarReproduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarReproduccion</servlet-name>
        <servlet-class>Servlets.BorrarReproduccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PruebaSession</servlet-name>
        <url-pattern>/PruebaSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/AltaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPelicula</servlet-name>
        <url-pattern>/ModificarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaBorrar</servlet-name>
        <url-pattern>/PruebaBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPelicula</servlet-name>
        <url-pattern>/BorrarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaReproduccion</servlet-name>
        <url-pattern>/altaReproduccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaReproduccion</servlet-name>
        <url-pattern>/AltaReproduccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuGestionPeliculas</servlet-name>
        <url-pattern>/MenuGestionPeliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaSala</servlet-name>
        <url-pattern>/AltaSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarSala</servlet-name>
        <url-pattern>/ModificarSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarSala</servlet-name>
        <url-pattern>/BorrarSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarReproduccion</servlet-name>
        <url-pattern>/ModificarReproduccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarReproduccion</servlet-name>
        <url-pattern>/BorrarReproduccion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
